APP_NAME=404notfoundhack
PORT=8000
APP_HOST=http://localhost

FONTEND_HOST=http://localhost:3000

SENDGRID_API_KEY=

MONGOURI=

COMPASSURI=

SUPER_SECRET_KEY=
SALT_ROUNDS=

APP_VERSION=

MAIL_USER_NAME=
MAIL_USER_PASSWORD=
